@font-face {
    font-family: "Arial";
}

body {
    width: 1280px;
    margin: 0 auto;
}

.main-header {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #445162;
    padding: 50px
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-item-1 {
    width: 50%;
    float: left;
}

.main-header-title {
    margin: 0 auto;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.main-header-ul {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}

.main-header-ul>li {}

.main-header-ul>li::before {
    content: "";
    background-image: url(../img/check_icon.png);
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 35px;
}

.main-header-item-2 {
    width: 50%;
    float: right;
}

.main-header-item-2>img {
    float: right;
}

.about-product {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-item-1 {
    width: 60%;
    float: left;
}

.title-h2 {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    margin: 0 0 30px 0;
}

p {
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.about-product-item-1>p {
    margin: 0 0 20px 0;
}

.dignity-ul>li {
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    margin: 0 0 20px 0;

}

.about-product-item-1>p:last-child {
    margin: 0;
}

.about-product-item-1>p {
    max-width: 649px;
}

.about-product-item-2 {
    width: 40%;
    float: right;
}

.about-product-item-2-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.dignity {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 50px 20px 20px 50px
}

.center-title {
    text-align: center;
    margin: 0;
}

.dignity-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px 0 0;
    justify-content: space-between;
}

.dignity-ul>li {
    max-width: 526px;
    margin: 0 30px 30px 0;
    position: relative;
    padding: 0 0 0 49px;
    box-sizing: border-box;
}

.dignity-ul>li:before {
    content: "+";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #333333;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.screenshots {
    margin: 0 auto;
    width: 1280px;
    min-height: 353px;
    box-sizing: border-box;
    padding: 50px 50px 20px;
}

.screenshots-container-item>p {
    margin: 10px 0 0 0;
}

.screenshots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;
}

.screenshots-container-item {
    margin: 0;
    width: 50%;
}

.screenshots-container-item>img {
    float: left;
    display: block;
    background-color: blue;
    width: 190px;
    height: 140px;
    margin: 0 15px 0 0;
}

.screenshots-container-about {
    margin: 0 0 20px 0;
}

.screenshots-title {
    color: #445161;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.reviews {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 50px 50px 50px 50px
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 0 0;
    justify-content: space-between;
}

.reviews-container-item {
    width: 48%;
    display: flex;

}

.reviews-container-item:nth-child(3),
.reviews-container-item:nth-child(4) {
    margin: 25px 0 0 0;
}


.user-photo {

    background-color: #445161;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.comment {
    width: 80%;
    background-color: #ebebeb;
    border-radius: 7px;
    padding: 16px;
    margin: 0 0 0 27px;
    position: relative;
}

.comment::before {
    content: " ";
    position: absolute;
    left: -38px;
    display: inline-block;
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
}

.comment>p {
    color: #333333;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    margin: 0 0 16px 0;
}

.user-name {
    color: #989898;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
}

.buy {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px
}

.buy-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    box-sizing: border-box;
}

.buy-container-item {
    display: flex;
    background-color: #445161;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
    border-radius: 4px;
}

.price-name {
    padding: 20px;
    color: #ffffff;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
}

.price {
    background-color: #fff;
    color: #445162;
    font-family: "Arial";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border: 1px solid #445161;
    box-sizing: border-box;
}

.price-about {
    margin: 0 0 0 20px;
    padding: 20px;
}

.price-about>li {
    color: #ffffff;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.botton-buy {
    background-color: #fff;
    display: block;
    width: 260px;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 14px;
    color: #445161;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}